In [1]:
import pandas as pd

In [54]:
log = pd.read_csv('log.xls', header=None, sep=',')
log.head()

                                  0                     1   2   3
0  Запись пользователя № - user_919  [2019-01-01 14:06:51 NaN NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16 NaN NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16 NaN NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51 NaN NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18 NaN NaN

In [19]:
sample = pd.read_csv('sample.csv')
columns = sample.columns
sample.columns = columns.str.lower()
sample

              Name,City,Age,Profession
0              Иванов,Москва,25,Клинер
1               ,Волгоград,31,Менеджер
2              Иванов,Москва,25,Клинер
3      sidorov,Владивосток,43,Менеджер
4            _______,Курск,50,Водитель
5             Кузнецов,Сочи,19,Рабочий
6              Сажин,Сургут,29,Рабочий
7   Котлеревский,Йошкар-Ола,32,Рабочий
8     Завалишина,Чебоксары,36,Менеджер
9                   Левина,,55,Рабочий
10                Фикс,Рига,42,Рабочий

In [58]:
log.columns = ['user_id', 'time', 'bet', 'win'] 
log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [53]:
##### 6. Формат данных

#Задание 1.
users = pd.read_csv('users.xls', encoding='KOI8-R', sep='\t')
users.head()

     Юзверь                 мейл        Гео
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN

In [59]:
users.columns = ['user_id', 'email', 'geo'] 
users.head()

    user_id                email        geo
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN