In [1]:
import pandas as pd

In [3]:
football = pd.read_csv('data_sf2.csv', sep=';')
small_df = football[football.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. ModriД‡,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. SuГЎrez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,AtlГ©tico Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern MГјnchen,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. GodГ­n,32,Uruguay,AtlГ©tico Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. KantГ©,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,AtlГ©tico Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern MГјnchen,38000000,130000,GK
23,S. AgГјero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [3]:
s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Uruguay      3
Belgium      3
Argentina    3
Germany      3
France       2
Croatia      1
Portugal     1
Italy        1
England      1
Poland       1
Slovenia     1
Brazil       1
Name: Nationality, dtype: int64

In [4]:
s.index

Index(['Spain', 'Uruguay', 'Belgium', 'Argentina', 'Germany', 'France',
       'Croatia', 'Portugal', 'Italy', 'England', 'Poland', 'Slovenia',
       'Brazil'],
      dtype='object')

In [5]:
s['Germany']

3

In [6]:
s.loc[s > 1]

Spain        4
Uruguay      3
Belgium      3
Argentina    3
Germany      3
France       2
Name: Nationality, dtype: int64

In [14]:
fcl = football['Club'].value_counts()
fcl

Shonan Bellmare        30
V-Varen Nagasaki       30
De Graafschap          29
FC Emmen               29
Vissel Kobe            29
                       ..
Olympiacos CFP          8
VitГіria GuimarГЈes     7
GD Chaves               7
Dinamo Zagreb           7
AtlГ©tico Mineiro       6
Name: Club, Length: 650, dtype: int64

In [15]:
s = small_df['Nationality'].value_counts(normalize=True)
display(s)

Spain        0.16
Uruguay      0.12
Belgium      0.12
Argentina    0.12
Germany      0.12
France       0.08
Croatia      0.04
Portugal     0.04
Italy        0.04
England      0.04
Poland       0.04
Slovenia     0.04
Brazil       0.04
Name: Nationality, dtype: float64

In [16]:
fps = football['Position'].value_counts(normalize=True)
fps

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [17]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [18]:
# find players with the largest wage from the previous table
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

         Name  Age Nationality          Club      Value    Wage Position
0    L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. SuГЎrez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [27]:
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [40]:
fcl = football['FKAccuracy'].value_counts(bins=5, normalize=True)
fcl

(21.2, 39.4]     0.376754
(39.4, 57.6]     0.306816
(57.6, 75.8]     0.163449
(2.908, 21.2]    0.136466
(75.8, 94.0]     0.016515
Name: FKAccuracy, dtype: float64

In [41]:
s = small_df['Nationality'].value_counts()
print(s.index)
print(len(s.index))

Index(['Spain', 'Uruguay', 'Belgium', 'Argentina', 'Germany', 'France',
       'Croatia', 'Portugal', 'Italy', 'England', 'Poland', 'Slovenia',
       'Brazil'],
      dtype='object')
13

In [44]:
small_df['Nationality'].unique()
len(small_df['Nationality'].unique())
small_df['Nationality'].nunique() # count unique values

13

In [45]:
# value_counts result to dataframe
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

        index  Nationality
0       Spain            4
1     Uruguay            3
2     Belgium            3
3   Argentina            3
4     Germany            3
5      France            2
6     Croatia            1
7    Portugal            1
8       Italy            1
9     England            1
10     Poland            1
11   Slovenia            1
12     Brazil            1

In [46]:
s_df.columns = ['Nationality','Players Count']
display(s_df)

   Nationality  Players Count
0        Spain              4
1      Uruguay              3
2      Belgium              3
3    Argentina              3
4      Germany              3
5       France              2
6      Croatia              1
7     Portugal              1
8        Italy              1
9      England              1
10      Poland              1
11    Slovenia              1
12      Brazil              1

In [ ]:
##### 6. Задачи

In [63]:
# Задача 1.
small_df2 = football[football.Nationality=='Spain']
fcl = small_df2['Wage'].value_counts(bins = 4, normalize=True)
round(fcl*100)

(620.999, 95750.0]      97.0
(95750.0, 190500.0]      2.0
(190500.0, 285250.0]     1.0
(285250.0, 380000.0]     0.0
Name: Wage, dtype: float64

In [64]:
# Задача 2.
small_df2 = football[football.Club=='Manchester United']
small_df2['Nationality'].nunique()

13

In [67]:
# Задача 3.
small_df2 = football[(football.Nationality=='Brazil') & (football.Club=='Juventus')]
small_df2['Name'].unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [69]:
# Задача 4.
small_df2 = football[(football.Age>35)]
small_df2['Club'].value_counts()

Hokkaido Consadole Sapporo    4
Club AtlГ©tico HuracГЎn       4
Estudiantes de La Plata       3
San MartГ­n de San Juan       3
Club AtlГ©tico Tigre          3
                             ..
VГ©lez Sarsfield              1
Universidad de Chile          1
Independiente Santa Fe        1
San Luis de Quillota          1
TromsГё IL                    1
Name: Club, Length: 212, dtype: int64

In [73]:
# Задача 5.
small_df2 = football[football.Nationality=='Argentina']
small_df2['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [76]:
# Задача 6.
small_df2 = football[football.Nationality=='Spain']
small_df2['Age'].value_counts(normalize=True) * 100

21    11.773472
22     9.538003
20     7.749627
23     7.153502
25     6.408346
27     6.259314
24     5.961252
28     5.365127
26     5.365127
29     4.769001
19     4.769001
18     3.874814
30     3.874814
31     3.278689
32     3.278689
33     3.129657
34     2.235469
17     1.341282
35     1.192250
36     1.043219
37     0.894188
39     0.298063
16     0.298063
38     0.149031
Name: Age, dtype: float64

In [ ]:
##### 7. Функция groupby
# Each Club has a list of its playres indexes 
football.groupby(['Club']).groups

In [78]:
grouped_df = football.groupby(['Club']).sum()
display(grouped_df)

,N,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,129124,609,15195000,90000,1104,944,1283,1362,944,1196,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,117834,473,18290000,76000,961,860,955,1136,846,1040,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,167351,544,11195000,33000,1106,918,1133,1272,899,1131,...,1030,1174,938,989,996,392,373,348,368,356
1. FC KГ¶ln,54865,225,46810000,92000,444,357,434,567,320,486,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,116731,515,57525000,84000,948,903,1044,1157,769,1024,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZagЕ‚Д™bie Sosnowiec,220803,656,6815000,27000,1161,1007,1152,1357,979,1252,...,1113,1371,1219,1187,1156,427,391,417,391,413
Г–rebro SK,224465,622,8465000,36000,1114,974,1149,1311,965,1270,...,1066,1393,1112,1045,1008,412,406,386,428,407
Г–stersunds FK,136103,478,11030000,39000,944,805,856,1109,801,1066,...,847,1132,920,842,816,342,357,369,337,363
Г‡aykur Rizespor,119137,557,27515000,118000,1110,921,1137,1290,888,1233,...,1063,1200,1050,1155,1143,375,394,387,388,389
ЕљlД…sk WrocЕ‚aw,172358,628,9170000,50000,1058,1054,1289,1313,988,1238,...,1150,1314,1047,1161,1129,408,403,367,394,403

In [80]:
grouped_df.loc['Ajax']['Wage']

158000

In [84]:
grouped_df = football.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
display(grouped_df.head(5))

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
Name: Wage, dtype: int64

In [86]:
grouped_df = football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
display(grouped_df[grouped_df>5000000])

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

In [87]:
football.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean()

                     Wage        Age  ShotPower
Nationality
Afghanistan   1250.000000  22.500000  53.750000
Albania       5931.034483  23.689655  54.551724
Algeria      15810.810811  27.027027  56.567568
Andorra       1000.000000  28.000000  58.000000
Angola        7100.000000  24.700000  63.700000
...                   ...        ...        ...
Uzbekistan    9000.000000  29.500000  71.500000
Venezuela     6611.111111  23.638889  57.222222
Wales         9529.411765  24.754902  48.558824
Zambia        2833.333333  21.833333  66.833333
Zimbabwe      5000.000000  26.555556  62.888889

[156 rows x 3 columns]

In [88]:
football.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

                            Wage        Age  ShotPower
Nationality
Dominican Republic  71000.000000  23.000000  75.500000
Egypt               35545.454545  25.818182  59.363636
Gabon               28900.000000  26.400000  56.900000
Croatia             26722.222222  24.819444  54.305556
Equatorial Guinea   25666.666667  28.000000  55.333333
Belgium             20024.390244  24.030488  56.390244
Ecuador             18333.333333  24.619048  60.666667
Uruguay             17590.361446  26.771084  56.192771
Brazil              17371.158392  27.898345  58.203310
Algeria             15810.810811  27.027027  56.567568

In [90]:
football.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False).head(10)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

In [91]:
##### 9. Другие агрегирующие функции

football.groupby(['Nationality'])[['Club','Name']].nunique()

             Club  Name
Nationality
Afghanistan     4     4
Albania        26    29
Algeria        33    37
Andorra         1     1
Angola          9    10
...           ...   ...
Uzbekistan      2     2
Venezuela      34    36
Wales          56   101
Zambia          5     6
Zimbabwe        8     9

[156 rows x 2 columns]

In [92]:
football.groupby(['Club'])['Name'].count()

Club
 SSV Jahn Regensburg     24
1. FC Heidenheim 1846    20
1. FC Kaiserslautern     23
1. FC KГ¶ln              10
1. FC Magdeburg          21
                         ..
ZagЕ‚Д™bie Sosnowiec     25
Г–rebro SK               26
Г–stersunds FK           20
Г‡aykur Rizespor         22
ЕљlД…sk WrocЕ‚aw         24
Name: Name, Length: 650, dtype: int64

In [96]:
football.groupby(['Club'])['Dribbling'].median()
football.groupby(['Club'])['Strength'].max()
football.groupby(['Club'])['Balance'].min()

Club
 SSV Jahn Regensburg     29
1. FC Heidenheim 1846    22
1. FC Kaiserslautern     29
1. FC KГ¶ln              31
1. FC Magdeburg          19
                         ..
ZagЕ‚Д™bie Sosnowiec     28
Г–rebro SK               34
Г–stersunds FK           32
Г‡aykur Rizespor         39
ЕљlД…sk WrocЕ‚aw         31
Name: Balance, Length: 650, dtype: int64

In [106]:
# Задание 1 (Part 9)
fcl = football.groupby(['Club'])['Wage'].median() - football.groupby(['Club'])['Wage'].mean()
len(fcl[fcl == 0])

52

In [135]:
# Задание 1 (alternative version)
fcl = football.groupby('Club')['Wage'].agg(['mean', 'median'])
len(fcl[fcl['mean'] == fcl['median']])

52

In [136]:
# Задание 2.
fcl[fcl['mean'] == fcl['median']].sort_values(['median'],ascending=False).head(10)

                      mean  median
Club
Cruzeiro           13000.0   13000
GГ¶ztepe SK         7000.0    7000
BrГёndby IF         6000.0    6000
Sunderland          4000.0    4000
CD Feirense         4000.0    4000
1. FC Magdeburg     4000.0    4000
Northampton Town    2500.0    2500
Stade Brestois 29   2000.0    2000
Jeonnam Dragons     2000.0    2000
Pohang Steelers     2000.0    2000

In [143]:
##### 10. Задачи
# Задача 1.
fcl = football.groupby('Club')['Wage'].sum()
s_df = fcl.reset_index()
s_df[s_df['Club']=='Chelsea']

        Club     Wage
134  Chelsea  2035000

In [157]:
# Задача 2.
fcl = football[(football.Nationality=='Argentina')]
fcl2 = fcl.groupby('Age')['Wage'].agg(['min', 'max'])
s_df = fcl2.reset_index()
s_df[s_df['Age'] == 20]

   Age   min    max
4   20  1000  54000

In [160]:
# Задача 3.
s_df[s_df['Age'] == 30]['max']

14    300000
Name: max, dtype: int64

In [161]:
# Задача 4.
s_df[s_df['Age'] == 30]['min']

14    1000
Name: min, dtype: int64

In [164]:
# Задача 5.
fcl = football[(football.Nationality=='Argentina') & (football.Club=='FC Barcelona')]
print(fcl['Strength'].max(), fcl['Balance'].max(), sep=';')

59;95

In [1]:
##### 12. Функция pivot_table

In [7]:
pivot = football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)  # margins=True for Totals of rows and columns
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [17]:
# Задание 1.

df2 = football.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2.loc['Manchester City']['GK']

125000.0

In [18]:
##### 13. Замена отсутствующих значений и еще примеры сводных таблиц

In [19]:
pivot = football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True,
fill_value=0)   # replace NaN with 0
display(pivot)

                           Wage                                         \
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                565000   205000            206000           0
Belgium                  110000        0            230000      240000
Bosnia Herzegovina            0   180000                 0           0
Brazil                   465000   335000             91000      570000
Chile                    205000        0            215000           0
Costa Rica                    0        0                 0      195000
Croatia                  260000   160000                 0      420000
Dominican Republic            0        0                 0      140000
Ecuador                       0        0            120000           0
England                       0        0            478000           0
France                   495000   145000            375000      459000
Germany                  240000   160000                 0      355000
Italy                         0   460000             88000           0
Ivory Coast                   0        0            105000           0
Morocco                       0   160000                 0           0
Netherlands              135000        0                 0           0
Poland                        0   125000                 0           0
Portugal                 125000   405000                 0           0
Scotland                      0        0             11000           0
Serbia                        0        0            165000           0
Spain                    912000        0            260000     1404000
Uruguay                  455000        0                 0           0
Wales                         0        0             13000      355000
All                     3967000  2335000           2357000     4138000


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [28]:
# Задание 1.

df2 = football.pivot_table(columns = 'Position', index = 'Club', values = 'Name', aggfunc = 'count', fill_value=0)
round(df2['GK'].mean(), 3)
#display(df2)

2.525

In [32]:
# Задание 2.

df2['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [33]:
##### 14. Задачи

In [35]:
# Задача 1.

df2 = football.pivot_table(values='Wage', index='Nationality', columns='Club',aggfunc='sum',fill_value=0)
#display(df2) 
df2.loc['Russia']['AS Monaco']

61000

In [43]:
# Задача 2.

df2 = football.pivot_table(values='SprintSpeed', index='Position', columns='Club',aggfunc='mean',margins=True,
fill_value=0)
#display(df2) 
df2['All'].sort_values(ascending=False)

Position
RF     76.333333
LAM    76.333333
LF     75.875000
RW     75.417722
RM     74.943864
LW     74.747934
LM     74.211538
RAM    73.800000
RWB    73.128571
LWB    72.833333
LS     72.338843
RS     71.991228
RB     71.186709
LB     70.718563
CF     69.803922
ST     68.700397
CAM    68.236967
LCM    65.334764
RCM    65.233333
CM     64.299906
All    63.205629
RDM    62.152174
LDM    62.006757
CDM    60.813314
LCB    58.936430
RCB    58.239234
CB     57.734854
GK     37.622182
Name: All, dtype: float64

In [54]:
# Задача 3.

df2.loc['ST'].sort_values(ascending=False).head(n=10)

Club
VitГіria              91.000000
Sydney FC             88.000000
CD Lugo               87.000000
BrГёndby IF           84.666667
Leicester City        84.500000
Manchester United     84.000000
KRC Genk              84.000000
Feyenoord             84.000000
FC ZГјrich            84.000000
FC Bayern MГјnchen    84.000000
Name: ST, dtype: float64