In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
181,tt2024469,50000000,222809600,Non-Stop,Liam Neeson|Julianne Moore|Scoot McNairy|Miche...,Jaume Collet-Serra,The hijacking was just the beginning.,Bill Marks is a burned-out veteran of the Air ...,106,Action|Thriller|Mystery,StudioCanal|Silver Pictures|TF1 Films Producti...,1/26/2014,6.8,2014
1350,tt0398375,70000000,88933562,Rumor Has It...,Jennifer Aniston|Kevin Costner|Shirley MacLain...,Rob Reiner,Based on a true rumor.,Sarah Huttinger's return home with her fiance ...,97,Comedy,Village Roadshow Pictures|Section Eight|Spring...,12/23/2005,5.2,2005
277,tt1182345,5000000,9760104,Moon,Sam Rockwell|Kevin Spacey|Dominique McElligott...,Duncan Jones,The last place you'd ever expect to find yours...,With only three weeks left in his three year c...,97,Science Fiction|Drama,Liberty Films UK|Lunar Industries|Xingu Films|...,6/12/2009,7.4,2009
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [ ]:
# 1-ый вариант
data[data.runtime==data.runtime.max()]

In [ ]:
# 2-ой вариант
data.sort_values(by=['runtime'], ascending=False).head(1)

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [ ]:
# 1-ый вариант
data[data.runtime==data.runtime.min()]

In [ ]:
# 2-ой вариант
data.sort_values(by=['runtime'], ascending=True).head(1)

# 4. Какова средняя длительность фильмов?

In [8]:
answers['4'] = '2. 110' # +

In [ ]:
round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [9]:
answers['5'] = '1. 107' # +

In [ ]:
#round(data.runtime.median())
data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget

In [11]:
# 1-ый вариант
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [12]:
# 2-ой вариант
data.sort_values(by=['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [ ]:
answers['6'] = '5. Avatar (tt0499549)' # +

# 7. Какой фильм самый убыточный?

In [14]:
# 1-ый вариант
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [15]:
# 2-ой вариант
data.sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [ ]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
# 1-ый вариант
data[data.profit>0].imdb_id.count()

1478

In [19]:
# 2-ой вариант
len(data[data.profit>0])

1478

In [ ]:
answers['8'] = '1. 1478' # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
data[data.release_year==2008].sort_values(by=['revenue'], ascending=False).head(1)

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year, profit]
Index: []

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
data[data.release_year.between(2012, 2014)].sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [30]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

-165710090

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [51]:
def to_dict(series):
 return pd.Series([x for s_list in series for x in s_list])

In [54]:
data['film_genres'] = data.genres.str.split(pat='|')    # add column with list of film genres

ВАРИАНТ 1

In [57]:
pd.Series(data.film_genres).explode().mode()

0    Drama
dtype: object

ВАРИАНТ 2

In [52]:
to_dict(data['film_genres']).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [ ]:
answers['11'] = '3. Drama' # +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [62]:
# 1-ый выриант
pd.Series(data[data.profit > 0].film_genres).explode().mode()

0    Drama
dtype: object

In [61]:
# 2-ой выриант
to_dict(data[data.profit > 0].film_genres).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [ ]:
answers['12'] = '1. Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [64]:
# 1-ый выриант
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [73]:
# 2-ой выриант
data.pivot_table(index = 'director', values = 'revenue', aggfunc = 'sum').revenue.sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [ ]:
answers['13'] = '5. Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [101]:
data[data.genres.str.contains('Action')].director.str.split(pat='|').explode().mode()

0    Robert Rodriguez
dtype: object

In [ ]:
answers['14'] = '3. Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [106]:
data['film_cast'] = data.cast.str.split(pat='|')

In [157]:
data12 = data[data.release_year==2012]  # films released in 2012
actors = to_dict(data12.film_cast).unique()  # actors with films released in 2012

In [158]:
rev = []    # calculate revenue for each actor
for i in range(len(actors)): 
    rev.append(data12[data12.cast.str.contains(actors[i])].revenue.sum())

In [159]:
temp = pd.DataFrame({'actor':actors, 'rev':rev})    # create a table of actors and revenues
temp[temp.rev==temp.rev.max()]

             actor         rev
3  Chris Hemsworth  2027450773

In [161]:
answers['15'] = '3. Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [167]:
data_hb = data[data.budget>data.budget.mean()]  # high-budget films

In [169]:
to_dict(data_hb.film_cast).value_counts().head(1)

Matt Damon    18
dtype: int64

In [ ]:
answers['16'] = '3. Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [175]:
to_dict(data[data.cast.str.contains('Nicolas Cage')].film_genres).value_counts().head(1)

Action    17
dtype: int64

In [ ]:
answers['17'] = '2. Action' # +

# 18. Самый убыточный фильм от Paramount Pictures

In [179]:
data_pp = data[data.production_companies.str.contains('Paramount Pictures')]    # all Paramount Pictures films

In [181]:
data_pp[data_pp.profit==data_pp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,film_genres,film_cast
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]","[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."

In [ ]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [185]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [ ]:
answers['19'] = '5. 2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [186]:
data_wb = data[data.production_companies.str.contains('Warner Bros')]    # all Warner Bros films

In [189]:
data_wb.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

In [ ]:
answers['20'] = '1. 2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [193]:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month    # add column with film release month

In [195]:
data.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

In [ ]:
answers['21'] = '4. Сентябрь' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [199]:
len(data[data.release_month.between(6,8)])

450

In [ ]:
answers['22'] = '2. 450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [212]:
data[data.release_month.isin([12, 1, 2])].director.str.split(pat='|').explode().mode()

0    Peter Jackson
dtype: object

In [ ]:
answers['23'] = '5. Peter Jackson' # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [222]:
data['title_len'] = data.original_title.str.len()   # add column with title length
companies = to_dict(data.production_companies.str.split(pat='|')).unique()  # all production companies

In [225]:
avg_len = []    # calculate average title length for each company
for i in range(len(companies)): 
    avg_len.append(data[data.production_companies.str.contains(companies[i])].title_len.mean())

In [228]:
temp = pd.DataFrame({'company':companies, 'avg_len':avg_len})    # create a table of actors and revenues
temp[temp.avg_len==temp.avg_len.max()]

                      company  avg_len
1505  Four By Two Productions     83.0

In [229]:
answers['24'] = '5. Four By Two Productions' # +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [242]:
data['overview_word_count'] = data.overview.str.split(pat=' ').str.len()    # add column with length of overview

In [244]:
wrd_count = []    # calculate average title length for each company
for i in range(len(companies)): 
    wrd_count.append(data[data.production_companies.str.contains(companies[i])].overview_word_count.mean())

In [245]:
temp = pd.DataFrame({'company':companies, 'wrd_count':wrd_count})    # create a table of actors and revenues
temp[temp.wrd_count==temp.wrd_count.max()]

                   company  wrd_count
950  Midnight Picture Show      175.0

In [ ]:
answers['25'] = '3. Midnight Picture Show' # +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [251]:
data[data.vote_average>data.vote_average.quantile(.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [ ]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [285]:
actors = to_dict(data.film_cast).unique()  # All actors

In [294]:
films = []
for i in range(len(actors)): 
    films.append(data[data.cast.str.contains(actors[i])].imdb_id.tolist())

In [349]:
temp = pd.DataFrame({'actor':actors, 'film':films})    # Create a table of actors and their films
temp = temp[temp.film.str.len() > 1]
temp = temp.reset_index()

In [382]:
pair = []  
film_count = 0
for i in range(len(temp)-1):
    if len(temp.film[i]) > film_count:
        for j in range(i+1, len(temp)):
            same_films = len(set(temp.film[i]).intersection(temp.film[j]))  # Find the same films
            if same_films > film_count:
                film_count = same_films
                pair = []
                pair.append([i,j])
            elif same_films == film_count:  # Save all best combinations to compare with the given 
                pair.append([i,j])          # versions of the answer

In [386]:
print(film_count)
for i in pair:
    print(temp.actor[i])    # Print all the most common pairs

8
319    Daniel Radcliffe
468         Emma Watson
Name: actor, dtype: object
319    Daniel Radcliffe
578        Rupert Grint
Name: actor, dtype: object
468     Emma Watson
578    Rupert Grint
Name: actor, dtype: object

ВАРИАНТ 2

In [375]:
data[data.]

0

In [ ]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)