In [413]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [414]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1381,tt0384806,19000000,108047131,The Amityville Horror,Ryan Reynolds|Melissa George|Jesse James|ChloÃ...,Andrew Douglas,What happened over the next 28 days has never ...,A family is terrorized by demonic forces after...,90,Horror|Thriller|Drama,Platinum Dunes|Dimension Films|Metro-Goldwyn-M...,4/15/2005,6.0,2005
1026,tt1645170,65000000,179379533,The Dictator,Sacha Baron Cohen|Sayed Badreya|Aasif Mandvi|M...,Larry Charles,kurd,The heroic story of a dictator who risks his l...,83,Comedy,Paramount Pictures,5/15/2012,5.9,2012
1845,tt0181875,60000000,47383689,Almost Famous,Kate Hudson|Billy Crudup|Frances McDormand|Jas...,Cameron Crowe,Experience it. Enjoy it. Just don't fall for it.,Almost Famous is an autobiographical inspired ...,122,Drama|Music,Columbia Pictures|Vinyl Films|DreamWorks Pictures,9/15/2000,7.3,2000
65,tt2452042,99000000,246233113,The Peanuts Movie,Noah Schnapp|Bill Melendez|Venus Schultheis|Ha...,Steve Martino,The story of an underdog. And his dog.,Snoopy embarks upon his greatest mission as he...,88,Adventure|Animation|Comedy|Family,Blue Sky Studios|Twentieth Century Fox Animati...,11/5/2015,6.4,2015
1044,tt1615065,45000000,47000000,Savages,Blake Lively|Taylor Kitsch|Aaron Taylor-Johnso...,Oliver Stone,Young Beautiful Deadly.,Pot growers Ben and Chon face off against the ...,131,Crime|Drama|Thriller,Ixtlan|Relativity Media|Onda Entertainment,7/6/2012,6.2,2012

In [415]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [416]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [417]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [418]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [419]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [420]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [421]:
# 1-ый вариант
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [422]:
# 2-ой вариант
data.sort_values(by=['runtime'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [423]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [424]:
# 1-ый вариант
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [425]:
# 2-ой вариант
data.sort_values(by=['runtime'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [426]:
answers['4'] = '2. 110' # +

In [427]:
round(data.runtime.mean())

110.0

# 5. Каково медианное значение длительности фильмов?

In [428]:
answers['5'] = '1. 107' # +

In [429]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [430]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget

In [431]:
# 1-ый вариант
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [432]:
# 2-ой вариант
data.sort_values(by=['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [433]:
answers['6'] = '5. Avatar (tt0499549)' # +

# 7. Какой фильм самый убыточный?

In [434]:
# 1-ый вариант
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [435]:
# 2-ой вариант
data.sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [436]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [437]:
# 1-ый вариант
data[data.profit>0].imdb_id.count()

1478

In [438]:
# 2-ой вариант
len(data[data.profit>0])

1478

In [439]:
answers['8'] = '1. 1478' # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [440]:
data[data.release_year==2008].sort_values(by=['revenue'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [441]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [442]:
data[data.release_year.between(2012, 2014)].sort_values(by=['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [443]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

# 11. Какого жанра фильмов больше всего?

In [444]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [445]:
def to_dict(series):
 return pd.Series([x for s_list in series for x in s_list])

In [446]:
data['film_genres'] = data.genres.str.split(pat='|')    # Add column with list of film genres

ВАРИАНТ 1

In [447]:
pd.Series(data.film_genres).explode().mode()

0    Drama
dtype: object

ВАРИАНТ 2

In [448]:
to_dict(data['film_genres']).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [449]:
answers['11'] = '3. Drama' # +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [450]:
# 1-ый выриант
pd.Series(data[data.profit > 0].film_genres).explode().mode()

0    Drama
dtype: object

In [451]:
# 2-ой выриант
to_dict(data[data.profit > 0].film_genres).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [452]:
answers['12'] = '1. Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [453]:
# 1-ый выриант
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [454]:
# 2-ой выриант
data.pivot_table(index = 'director', values = 'revenue', aggfunc = 'sum').revenue.sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [455]:
answers['13'] = '5. Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [456]:
data[data.genres.str.contains('Action')].director.str.split(pat='|').explode().mode()

0    Robert Rodriguez
dtype: object

In [457]:
answers['14'] = '3. Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [458]:
data['film_cast'] = data.cast.str.split(pat='|')

In [459]:
data12 = data[data.release_year==2012]  # Films released in 2012
actors = to_dict(data12.film_cast).unique()  # Actors with films released in 2012

In [460]:
rev = []    # Calculate revenue for each actor
for i in range(len(actors)): 
    rev.append(data12[data12.cast.str.contains(actors[i])].revenue.sum())

In [461]:
temp = pd.DataFrame({'actor':actors, 'rev':rev})    # Create a table of actors and revenues
temp[temp.rev==temp.rev.max()]

             actor         rev
3  Chris Hemsworth  2027450773

In [462]:
answers['15'] = '3. Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [463]:
data_hb = data[data.budget>data.budget.mean()]  # High-budget films

In [464]:
to_dict(data_hb.film_cast).value_counts().head(1)

Matt Damon    18
dtype: int64

In [465]:
answers['16'] = '3. Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [466]:
to_dict(data[data.cast.str.contains('Nicolas Cage')].film_genres).value_counts().head(1)

Action    17
dtype: int64

In [467]:
answers['17'] = '2. Action' # +

# 18. Самый убыточный фильм от Paramount Pictures

In [468]:
data_pp = data[data.production_companies.str.contains('Paramount Pictures')]    # All Paramount Pictures films

In [469]:
data_pp[data_pp.profit==data_pp.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,film_genres,film_cast
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]","[Harrison Ford, Liam Neeson, Peter Sarsgaard, ..."

In [470]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [471]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [472]:
answers['19'] = '5. 2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [473]:
data_wb = data[data.production_companies.str.contains('Warner Bros')]    # All Warner Bros films

In [474]:
data_wb.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

In [475]:
answers['20'] = '1. 2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [476]:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month    # Add column with film release month

In [477]:
data.release_month.value_counts().head(1)

9    227
Name: release_month, dtype: int64

In [478]:
answers['21'] = '4. Сентябрь' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [479]:
len(data[data.release_month.between(6,8)])

450

In [480]:
answers['22'] = '2. 450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [481]:
data[data.release_month.isin([12, 1, 2])].director.str.split(pat='|').explode().mode()

0    Peter Jackson
dtype: object

In [482]:
answers['23'] = '5. Peter Jackson' # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [483]:
data['title_len'] = data.original_title.str.len()   # Add column with title length
companies = to_dict(data.production_companies.str.split(pat='|')).unique()  # All production companies

In [484]:
avg_len = []    # Calculate average title length for each company
for i in range(len(companies)): 
    avg_len.append(data[data.production_companies.str.contains(companies[i])].title_len.mean())

C:\Python38\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [485]:
temp = pd.DataFrame({'company':companies, 'avg_len':avg_len})    # Create a table of actors and revenues
temp[temp.avg_len==temp.avg_len.max()]

                      company  avg_len
1505  Four By Two Productions     83.0

In [486]:
answers['24'] = '5. Four By Two Productions' # +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [487]:
data['overview_word_count'] = data.overview.str.split(pat=' ').str.len()    # Add column with length of overview

In [488]:
wrd_count = []    # Calculate average title length for each company
for i in range(len(companies)): 
    wrd_count.append(data[data.production_companies.str.contains(companies[i])].overview_word_count.mean())

C:\Python38\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [489]:
temp = pd.DataFrame({'company':companies, 'wrd_count':wrd_count})    # Create a table of actors and revenues
temp[temp.wrd_count==temp.wrd_count.max()]

                   company  wrd_count
950  Midnight Picture Show      175.0

In [490]:
answers['25'] = '3. Midnight Picture Show' # +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [491]:
data[data.vote_average>data.vote_average.quantile(.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [492]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [493]:
comb = lambda x: list(itertools.combinations(x, 2))     # Function to get all combinations

In [494]:
actor_pairs = data['film_cast'].map(comb).tolist()
pd.DataFrame(actor_pairs).stack().value_counts().idxmax()

('Daniel Radcliffe', 'Rupert Grint')

ВАРИАНТ 2

In [495]:
actors = to_dict(data.film_cast).unique()  # All actors

In [496]:
films = []
for i in range(len(actors)): 
    films.append(data[data.cast.str.contains(actors[i])].imdb_id.tolist())

In [497]:
temp = pd.DataFrame({'actor':actors, 'film':films})    # Create a data frame of actors and their films
temp = temp[temp.film.str.len() > 1]
temp = temp.reset_index()

In [498]:
pair = []  
film_count = 0
for i in range(len(temp)-1):
    if len(temp.film[i]) > film_count:
        for j in range(i+1, len(temp)):
            same_films = len(set(temp.film[i]).intersection(temp.film[j]))  # Find the same films
            if same_films > film_count:
                film_count = same_films
                pair = []
                pair.append([i,j])
            elif same_films == film_count:  # Save all best combinations to compare with the given 
                pair.append([i,j])          # versions of the answer

In [499]:
print(film_count)
for i in pair:
    print(temp.actor[i])    # Print all the most common pairs

8
319    Daniel Radcliffe
468         Emma Watson
Name: actor, dtype: object
319    Daniel Radcliffe
578        Rupert Grint
Name: actor, dtype: object
468     Emma Watson
578    Rupert Grint
Name: actor, dtype: object

In [500]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

# Submission

In [501]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [502]:
# и убедиться что ни чего не пропустил)
len(answers)

27